.section {
  padding-top: 60px;
  padding-bottom: 60px;

  @include desktop {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.container {
  min-width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;

  @include mobile {
    min-width: 480px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include tablet {
    min-width: 768px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  @include desktop {
    width: 1200px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.header {
  border-bottom: 1px solid var(--header-border-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.list {
  list-style: none;
}

body {
  background-color: var(--primary-background-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.title {
  color: var(--title-text-color);

  font-weight: 700;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;

  margin-bottom: 50px;

  @include desktop {
    font-size: 36px;
    line-height: 1.16;
  }
}
