.main-section {
  padding: 118px 0;
  text-align: center;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(..//img/mobile/background-mobile.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-width: 320px;
  min-height: 400px;
  margin: 0 auto;

  @include mobile {
    min-width: 480px;
    min-height: 400px;
  }

  @include retina {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(..//img/mobile/background-mobile-2x.jpg);
  }

  @include tablet {
    min-width: 768px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(..//img/tablet/background-tablet.jpg);

    @include retina {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(..//img/tablet/background-tablet-2x.jpg);
    }
  }

  @include desktop {
    padding: 200px 0;

    &--background {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../img/desktop/background-desktop/background1.jpg);
      @include retina {
        background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
          url(../img/desktop/background-desktop/background-desktop-2x.jpg);
      }

      background-repeat: no-repeat;
      background-position: center;
      max-width: 1600px;
      min-height: 600px;
      margin: 0 auto;
    }
  }
}

.section-title {
  color: var(--primary-background-color);
  font-size: 24px;
  line-height: 1.61;
  font-weight: 900;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  @include mobile {
    width: 360px;
  }

  @include desktop {
    font-size: 44px;
    line-height: 1.36;

    width: 696px;
  }
}

.section-title__button {
  background: var(--accent-text-color);
  color: var(--primary-background-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  border-radius: 4px;
  min-width: 200px;
  padding: 10px 32px;

  border: none;

  transition: background-color 250ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background: var(--accent-text-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  }

  @include desktop {
    min-width: 216px;
  }
}
