:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-text-color: #2196f3;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --secondary-background-studio: #2f303a;
  --secondary-text-color: #000000;
  --icon-color: #afb1b8;
  --header-border-color: #ececec;
  --secondary-link-color: rgba(255, 255, 255, 0.6);
  --fill-svg-color: #000000;
}
